@import '../vars';

.chart__legend
{
  display: flex;
  align-items: center;
  top: -4px;
  position: relative;

  &__item
  {
	 border: 1px solid $main-color;
	 border-radius: 13px;
	 display: inline-flex;
	 padding: 5px 10px;
	 cursor: pointer;

	 &:hover
	 {
		background-color: $main-color;
	 }

	 &__circle
	 {
		border-radius: 50%;
		width: 20px;
		height: 20px;
		display: inline-block;
		margin-right: 10px;
	 }
  }

  &__item + &__item
  {
	 margin-left: 15px;
  }
}