@import './vars.scss';

.chart
{
  position: relative;
  display: inline-block;
  user-select: none;

  &__title
  {
	 user-select: text;
	 font-weight: 600;
	 height: 40px;
  }

  &__tooltip-obj,
  polyline,
  line
  {
	 pointer-events: none;
  }
}

.calc-size-node
{
  position: absolute;
  visibility: hidden;
  top: -10000px;
  left: -10000px;
  display: inline-block;
}