
.chart
{
  position: relative;
  display: inline-block;
  border: 1px solid #e0e0e0;
  user-select: none;

  &__title
  {
	 user-select: text;
  }

  &__tooltip-obj
  {
    pointer-events: none;
  }
}

.calc-size-node
{
  position: absolute;
  visibility: hidden;
  top: 0000px;
  left: 0000px;
  display: inline-block;
}