.chart
{
  position: relative;
  display: inline-block;
  border: 1px solid black;
  user-select: none;

  &__title
  {
	 user-select: text;
  }
}

html, body
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.calc-size-node
{
  position: absolute;
  visibility: hidden;
  top: 0000px;
  left: 0000px;
  display: inline-block;
}